<!--Created by Shelley Ophir
Coding Dojo Oct. 2, 2020
Create a template using Flask and inline CSS-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground Level 1</title>

</head>

<body>

    <!--When a user visits http://localhost:5000/play, have it render three beautiful looking blue boxes. -->
    <div style="text-align: center; margin: 75px;">
        <h1>Welcome!</h1>
        <div>
            <div
                style="background-color: #9fc5f8; height: 150px; width: 150px; border: 2px solid black; display: inline-block; margin: 0 10px;">
            </div>
            <div
                style="background-color: #9fc5f8; height: 150px; width: 150px; border: 2px solid black; display: inline-block; margin: 0 10px;">
            </div>
            <div
                style="background-color: #9fc5f8; height: 150px; width: 150px; border: 2px solid black; display: inline-block; margin: 0 10px;">
            </div>
        </div>

</body>

</html>